.nw-drop-cart .nw-cart-drop-content-in ul.nw-buttons li a.button{background: #ff9934;color:#ffffff;}
.nw-cart-drop-content .nw-cart-drop-content-in a.remove:hover{background:#ff9934}
.nw-cart-drop-toggle { border:1px solid #666666;background-color: #ff9934;color:#ffffff; }
.nw-cart-icns-shape.icns-adcartfont { color:#ffffff; }
.nw-cart-icns-color { background-color: #ff9934; }
.nw-cart-drop-toggle{background:#ff9934}
.nw-cart-contents{color:white}
.nw-cart-drop-content{background: white;border:1px solid #ff9934;}