.nw-drop-cart .nw-cart-drop-content-in ul.nw-buttons li a.button{background: #337baa;color:#ffffff;}
.nw-cart-drop-content .nw-cart-drop-content-in a.remove:hover{background:#337baa}
.nw-cart-drop-toggle { border:1px solid #666666;background-color: #337baa;color:#ffffff; }
.nw-cart-icns-shape.icns-adcartfont { color:#ffffff; }
.nw-cart-icns-color { background-color: #337baa; }
.nw-cart-drop-toggle{background:#337baa}
.nw-cart-contents{color:white}
.nw-cart-drop-content{background: white;}