.nw-drop-cart .nw-cart-drop-content-in ul.nw-buttons li a.button {background: #ff0000;color:#ffffff;}
.nw-cart-drop-content .nw-cart-drop-content-in a.remove:hover{background:#ff0000}
.nw-cart-drop-toggle { border:1px solid #666666;background-color: #ff0000;color:#ffffff; }
.nw-cart-icns-shape.icns-adcartfont { color:#ffffff; }
.nw-cart-icns-color { background-color: #ff0000; }
.nw-cart-drop-toggle{background:#ff0000}
.nw-cart-contents{color:white}
.nw-cart-drop-content{background: white;border:1px solid #ff0000;}
